<li>
	{{name}}

	<button class="change-Eatme" data-id="{{id}}" data-newEat="{{Eatme}}">
		{{#if Eatme}}Eat me!!{{else}}Yumm!{{/if}}
	</button>

	<button class="devour-burger" data-id="{{this.id}}">DEVOUR!</button>
</li>

